@model ProjetoOficialVeiculos.Models.Agendamento

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Delete</h1>

<h3>Tem certeza de que deseja excluir isto?</h3>
<div>
    <h4>Agendamento</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.caminhao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.caminhao.placa)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.empresa)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.empresa.cnpj)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.material)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.material.nome)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataAgendamento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataAgendamento)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PesoCarregado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PesoCarregado)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Status)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataConclusao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataConclusao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OrdemFila)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OrdemFila)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.motorista)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.motorista.nome)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
