@model ProjetoOficialVeiculos.Models.Empresa

@{
    ViewData["Title"] = "Detalhes";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="text-center">Informaçoes Da Empresa</h1>

<div class="card shadow-sm border-primary">
    <div class="card-header bg-primary text-white">
        <h4 class="mb-0">Company Information</h4>
    </div>
    <div class="card-body">
        <dl class="row">
            <dt class="col-sm-3">@Html.DisplayNameFor(model => model.nome)</dt>
            <dd class="col-sm-9">@Html.DisplayFor(model => model.nome)</dd>

            <dt class="col-sm-3">@Html.DisplayNameFor(model => model.cnpj)</dt>
            <dd class="col-sm-9">@Html.DisplayFor(model => model.cnpj)</dd>

            <dt class="col-sm-3">@Html.DisplayNameFor(model => model.contato)</dt>
            <dd class="col-sm-9">@Html.DisplayFor(model => model.contato)</dd>

            <dt class="col-sm-3">@Html.DisplayNameFor(model => model.endereco)</dt>
            <dd class="col-sm-9">@Html.DisplayFor(model => model.endereco)</dd>
        </dl>

        <div>
            <a asp-action="Edit" asp-route-id="@Model?.id" class="btn btn-warning btn-lg">Editar</a>
            <a asp-action="Index" class="btn btn-secondary btn-lg ml-3">Voltar</a>
        </div>
    </div>
</div>
